.timer-container{
    background: transparent;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items:center;
    justify-content: center;
}

.session-label{
    justify-content: center;
    text-align: center;
    font-size: 128px;
    height: 1.2em;
    margin-bottom: 4px;
}


.timer-label-container{
    margin: 10px;
}

.timer-label{
    font-size: 48px;
    font-weight: bold;
}

.buttons-timer-container{
    padding: 5px;
    display: flex;
    align-items: end;
    gap: 7px;
}

.button-timer{
    border-radius: 80px;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-timer[data-size="large"]{
    width: 100px;
    height: 100px;
}

.button-timer[data-size="medium"]{
    padding: 10px 10px;
    width: 50px;
    height: 50px;
}

.icon-medium{
    font-size: 20px;
}

.icon-large{
    font-size: 40px;
}

